/*
  Font Custom - icon webfonts made simple
*/

@font-face {
  font-family: "hatchd-eggbox";
  src: url("hatchd-eggbox-758921a8b41abf2f7658be7b41a0aecb.eot?#iefix") format("embedded-opentype"),
       url("hatchd-eggbox-758921a8b41abf2f7658be7b41a0aecb.woff") format("woff"),
       url("hatchd-eggbox-758921a8b41abf2f7658be7b41a0aecb.ttf") format("truetype"),
       url("hatchd-eggbox-758921a8b41abf2f7658be7b41a0aecb.svg#hatchd-eggbox") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
  Bootstrap Overrides
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "hatchd-eggbox";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}

/* keeps button heights with and without icons the same */
.btn [class^="icon-"], .btn [class*=" icon-"] {
  line-height: 0.9em;
}

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  width: 1.875em;
}

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}

/*
  Icon Classes
*/

.icon-arrows-keyline-down:before{content:"\f100";}
.icon-arrows-keyline-left:before{content:"\f101";}
.icon-arrows-keyline-right:before{content:"\f102";}
.icon-arrows-keyline-up:before{content:"\f103";}
.icon-social-facebook:before{content:"\f104";}
.icon-social-foursquare:before{content:"\f105";}
.icon-social-googleplus:before{content:"\f106";}
.icon-social-linkedin:before{content:"\f107";}
.icon-social-twitter-fill:before{content:"\f108";}
.icon-social-twitter:before{content:"\f109";}
.icon-ui-link:before{content:"\f10a";}
.icon-ui-mapmarker:before{content:"\f10b";}
.icon-ui-menutoggle:before{content:"\f10c";}
.icon-ui-refresh:before{content:"\f10d";}
.icon-ui-search:before{content:"\f10e";}
.icon-ui-settings:before{content:"\f10f";}
.icon-ui-tab:before{content:"\f110";}

.lt-ie8{
  
  .icon-arrows-keyline-down{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61696;&nbsp;');}
  .icon-arrows-keyline-left{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61697;&nbsp;');}
  .icon-arrows-keyline-right{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61698;&nbsp;');}
  .icon-arrows-keyline-up{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61699;&nbsp;');}
  .icon-social-facebook{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61700;&nbsp;');}
  .icon-social-foursquare{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61701;&nbsp;');}
  .icon-social-googleplus{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61702;&nbsp;');}
  .icon-social-linkedin{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61703;&nbsp;');}
  .icon-social-twitter-fill{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61704;&nbsp;');}
  .icon-social-twitter{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61705;&nbsp;');}
  .icon-ui-link{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61706;&nbsp;');}
  .icon-ui-mapmarker{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61707;&nbsp;');}
  .icon-ui-menutoggle{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61708;&nbsp;');}
  .icon-ui-refresh{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61709;&nbsp;');}
  .icon-ui-search{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61710;&nbsp;');}
  .icon-ui-settings{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61711;&nbsp;');}
  .icon-ui-tab{zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#61712;&nbsp;');}

}
