/*
  Font Custom - icon webfonts made simple
*/

@font-face {
  font-family: "hatchd-eggbox";
  src: url("hatchd-eggbox-7be0ac23cf7e56b59140e30fb8fa5a45.eot?#iefix") format("embedded-opentype"),
       url("hatchd-eggbox-7be0ac23cf7e56b59140e30fb8fa5a45.woff") format("woff"),
       url("hatchd-eggbox-7be0ac23cf7e56b59140e30fb8fa5a45.ttf") format("truetype"),
       url("hatchd-eggbox-7be0ac23cf7e56b59140e30fb8fa5a45.svg#hatchd-eggbox") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
  Bootstrap Overrides
*/

[class*="icon-"]:before {
    display: inline-block;
    font-family: "hatchd-eggbox";
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

/*
  Icon Classes
*/

.icon-arrows-full-down:before{content:"\f100";}
.icon-arrows-full-left:before{content:"\f101";}
.icon-arrows-full-right:before{content:"\f102";}
.icon-arrows-full-up:before{content:"\f103";}
.icon-arrows-fullinverted-down:before{content:"\f104";}
.icon-arrows-fullinverted-left:before{content:"\f105";}
.icon-arrows-fullinverted-right:before{content:"\f106";}
.icon-arrows-fullinverted-up:before{content:"\f107";}
.icon-arrows-hairline-down:before{content:"\f108";}
.icon-arrows-hairline-left:before{content:"\f109";}
.icon-arrows-hairline-right:before{content:"\f10a";}
.icon-arrows-hairline-up:before{content:"\f10b";}
.icon-arrows-keyline-down:before{content:"\f10c";}
.icon-arrows-keyline-left:before{content:"\f10d";}
.icon-arrows-keyline-right:before{content:"\f10e";}
.icon-arrows-keyline-up:before{content:"\f10f";}
.icon-arrows-outline-down:before{content:"\f110";}
.icon-arrows-outline-left:before{content:"\f111";}
.icon-arrows-outline-right:before{content:"\f112";}
.icon-arrows-outline-up:before{content:"\f113";}
.icon-misc-bell:before{content:"\f114";}
.icon-misc-book-closed:before{content:"\f115";}
.icon-misc-book-open:before{content:"\f116";}
.icon-misc-clock:before{content:"\f117";}
.icon-misc-coffeecup:before{content:"\f118";}
.icon-misc-conversation:before{content:"\f119";}
.icon-misc-handshake:before{content:"\f11a";}
.icon-misc-heart:before{content:"\f11b";}
.icon-misc-paperclip:before{content:"\f11c";}
.icon-misc-presentation:before{content:"\f11d";}
.icon-misc-stopwatch:before{content:"\f11e";}
.icon-misc-timer:before{content:"\f11f";}
.icon-misc-vcard:before{content:"\f120";}
.icon-social-facebook-fill:before{content:"\f121";}
.icon-social-facebook:before{content:"\f122";}
.icon-social-foursquare-inverted:before{content:"\f123";}
.icon-social-foursquare:before{content:"\f124";}
.icon-social-googleplus:before{content:"\f125";}
.icon-social-instagram:before{content:"\f126";}
.icon-social-linked:before{content:"\f127";}
.icon-social-linkedin-fill:before{content:"\f128";}
.icon-social-rss-fill:before{content:"\f129";}
.icon-social-rss:before{content:"\f12a";}
.icon-social-twitter-fill:before{content:"\f12b";}
.icon-social-twitter:before{content:"\f12c";}
.icon-social-youtube:before{content:"\f12d";}
.icon-ui-alert-fill:before{content:"\f12e";}
.icon-ui-battery-50:before{content:"\f12f";}
.icon-ui-battery-full:before{content:"\f130";}
.icon-ui-battery-low:before{content:"\f131";}
.icon-ui-bookmark:before{content:"\f132";}
.icon-ui-calendar:before{content:"\f133";}
.icon-ui-check:before{content:"\f134";}
.icon-ui-checkbox-blank:before{content:"\f135";}
.icon-ui-checkbox-checked:before{content:"\f136";}
.icon-ui-comment:before{content:"\f137";}
.icon-ui-contract:before{content:"\f138";}
.icon-ui-cross-large:before{content:"\f139";}
.icon-ui-cross-small:before{content:"\f13a";}
.icon-ui-documents:before{content:"\f13b";}
.icon-ui-download:before{content:"\f13c";}
.icon-ui-edit:before{content:"\f13d";}
.icon-ui-email-closed:before{content:"\f13e";}
.icon-ui-email-open:before{content:"\f13f";}
.icon-ui-equaliser-horz:before{content:"\f140";}
.icon-ui-equaliser-vert:before{content:"\f141";}
.icon-ui-expand:before{content:"\f142";}
.icon-ui-favourite:before{content:"\f143";}
.icon-ui-flag:before{content:"\f144";}
.icon-ui-help:before{content:"\f145";}
.icon-ui-home:before{content:"\f146";}
.icon-ui-image:before{content:"\f147";}
.icon-ui-info-fill:before{content:"\f148";}
.icon-ui-info:before{content:"\f149";}
.icon-ui-link:before{content:"\f14a";}
.icon-ui-location-pointer:before{content:"\f14b";}
.icon-ui-lock-locked:before{content:"\f14c";}
.icon-ui-lock-unlocked:before{content:"\f14d";}
.icon-ui-logout-1:before{content:"\f14e";}
.icon-ui-logout-2:before{content:"\f14f";}
.icon-ui-mapmarker:before{content:"\f150";}
.icon-ui-menutoggle:before{content:"\f151";}
.icon-ui-microphone:before{content:"\f152";}
.icon-ui-minus:before{content:"\f153";}
.icon-ui-phone:before{content:"\f154";}
.icon-ui-plus:before{content:"\f155";}
.icon-ui-print:before{content:"\f156";}
.icon-ui-profile-2:before{content:"\f157";}
.icon-ui-profile:before{content:"\f158";}
.icon-ui-refresh:before{content:"\f159";}
.icon-ui-search:before{content:"\f15a";}
.icon-ui-settings-spanner:before{content:"\f15b";}
.icon-ui-settings:before{content:"\f15c";}
.icon-ui-sync-1:before{content:"\f15d";}
.icon-ui-sync-2:before{content:"\f15e";}
.icon-ui-tab:before{content:"\f15f";}
.icon-ui-trash:before{content:"\f160";}
.icon-ui-upload:before{content:"\f161";}
.icon-ui-view:before{content:"\f162";}
.icon-ui-zoom-in:before{content:"\f163";}
.icon-ui-zoom-out:before{content:"\f164";}
